#logon.all-wrapper.no-menu-wrapper
  .login-logo-w
    a.logo(href='#')
      i.fa.fa-cloud-download
        span #{organization} #{product}
  .row
    .col-md-10.col-md-offset-1
      .content-wrapper.bold-shadow
        .content-inner
          .main-content.main-content-grey-gradient.no-page-header
            .main-content-inner
              form
                h3.form-title.form-title-first
                  i.fa.fa-lock
                  | Login With Your Passphrase
                .form-group
                  input#password.form-control(placeholder='Enter your #{organization} #{product} 12 word passphrase or click on \'Start a new wallet\' if you are new user.', value='', type='password')
                input#open-sesame.btn.btn-primary(disabled='disabled', data-toggle='collapse', data-target='#create-keys', value='Open Wallet')
                | &nbsp;
                input#generate-password.btn.btn-success(data-toggle='collapse', data-target='#create-wallet', value='Start a new wallet')
              br
              #create-keys.collapse
                .progress
                  #seed-progress.progress-bar(style='width: 0%;')
              #create-wallet.collapse
                h4 To use #{organization} #{product} you need a passphrase.
                p
                  | We have created a secure passphrase for you in the box below. Write
                  | your passphrase down and keep it safe.
                div
                  .input-group
                    input#generated.form-control(readonly='readonly', value='', type='text')
                    span#regenerate-password.input-group-addon(data-toggle='tooltip', title='Click to generate another random passphrase.')
                      i.fa.fa-repeat
                p
                  em
                    | Make sure no-one is near you when you use this passphrase.
                    | If anyone sees your passphrase, or gets it from you,
                    | they can steal your Bitcoins.
